<%= form_for(@my_app) do |f| %>
  <% if @my_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@my_app.errors.count, "error") %> prohibited this my_app from being saved:</h2>

      <ul>
      <% @my_app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="input-field">
    <%= f.label :javascript_origins %>
    <%= f.text_field :javascript_origins %>
    <p style="margin:0px;padding:0px;font-size:12px;"> Separar con comas(',') los orígenes.</p>
  </div>
  <div class="actions" style="margin-top:1.5em;">
    <%= f.submit "Crear Aplicación", class:"btn" %>
  </div>
<% end %>
