<h1>Bienvenido <%= current_user.email %></h1>

<div style="margin-top: 4em;">
	<h3>Mis aplicaciones</h3>
	<div class="row">
		<% @my_apps.each do |my_app| %>
			<div class="col m4">
				<div class="card z-depth-2" style="padding: 10px;">
					<h3 style="margin: 0px; font-size: 1.5em;">
						<%= my_app.title%>
					</h3>
					<p>
						<%= link_to "Editar", edit_my_app_path(my_app), class:"blue-text" %>
						-
						<%= link_to "Eliminar", my_app, class:"red-text", method: :delete %>
					</p>
					<p class="blue accent-3 white-text" style="padding: 10px;">
						APP ID: <%= my_app.app_id%>
					</p>
					<p class="blue accent-3 white-text" style="padding: 10px;">
						SECRET KEY: <%= my_app.secret_key%>
					</p>
				</div>
			</div>
		<% end %>
	</div>
</div>
